
.question_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%
}

.question_owners_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tag_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.edit_icon {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border:solid black 1px;
}

.delete_icon {
    margin:0 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border:solid #9F0000 1px;
}

.tag {
    background-color: #76b46d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 12px;
    border-radius: 30px;
    height: 20px;
    margin-right: 5px;
    max-lines: 1;
}

.tag::-webkit-scrollbar{
  display: none;
}

.submit_btn_2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3AE737;
    text-align: center;
    padding:0 10px;
    height: 20px;
    border-radius: var(--radius);
    border: solid black 2px;
    font-size: small;
}