
.solved_badge{
    display:flex;
    justify-content: center;
    align-items: center;
    height:15px;
    color:#9F0000;
    font-size: x-small;
    font-style: normal;
    font-weight: lighter;
    background-color: #9F000040;
    border: solid #9F0000 2px;
    border-radius: 100px;
    padding: 1px 10px;
}